body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

img {
  /* placement */
  float: left;
  /* sizing */ 
  margin-right: 15px;
  width: 15cm;
  height: 10cm;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #d6a95a;
  color: white;
}

/* the table itself */
.tablediv {
  padding-left: 50px;
  padding-right: 50px;
}

table {
  table-layout: auto;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: center;
}


.newentrycontainer {
  /*NOTE TO SELF: no max. height bc there's also*/
  /*no max. number of items listed - can be as long as needed!!*/
  background-color: #ffefcc;

  margin: auto;
  text-align: center;
  align-items: center;

  min-width: 500px;
  min-height: 100px;

  width: 50%;
  top: 50%;
  border-radius: 15px;

  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* input field styling */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #d6a95a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #bc9146;
}